form(action='login', method='post')
  fieldset
    legend Sign In
    label(for='username') Email/Username
    input#username(name='username', placeholder='user@example.com')
    label(for='password') Access Code
    input#password(name='password', type='password', placeholder='ABFE102078')
    input(type='submit', value='submit')
